
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<h4>Burası benim oluşturduğum View Sayfası :)</h4>

<table>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Nuran</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Turgay</td>
        <td>Lojistik</td>
    </tr>
</table>

